/* Background */
body{
    background: linear-gradient(135deg,#667eea,#764ba2);
    min-height:100vh;
    font-family:Arial, Helvetica, sans-serif;
}

/* Heading */
h1{
    color:white;
    font-weight:bold;
}

/* Main Card */
.card{
    border:none;
    border-radius:15px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

/* Buttons */

.btn{
    border-radius:10px;
    margin-right:5px;
}

.btn-primary{
    background:#4e73df;
}

.btn-success{
    background:#1cc88a;
}

.btn-warning{
    color:white;
}

.btn-danger{
    background:#e74a3b;
}

/* Completed Task */

.text-decoration-line-through{
    opacity:0.6;
}

/* Form */

.form-control{
    border-radius:10px;
}

textarea{
    resize:none;
}

/* Empty Task */

.alert{
    border-radius:10px;
}